name: Ping AWS

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::931234858677:role/terraform-ci-role
          aws-region: ap-northeast-1

      - name: Verify AWS identity
        run: aws sts get-caller-identity
